
@import url('reset.css');
@import url('tailwind.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');

.wrapper {
    @apply w-screen h-screen overflow-x-hidden;
    @apply bg-gray-200;
    .wrapper-inner {
        @apply flex;

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
            background-color: #d9d9d9;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: #aaaaaa;
            &:hover {
                background-color: #666666;
            }
        }
        .wrapper-content {
            @apply 2xl:max-w-screen-1200 p-0;
            flex-grow: 2;
            margin: 0 auto;
        }
    }
}
